@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    box-sizing: border-box;
    &:before{
        box-sizing: border-box;
    }
    &:after{
        box-sizing: border-box;
    }
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

    

    .header{
        transform: translateX(-70%);
        .header_container{
            padding: .1em .5em;
            font-size: 1rem;
            font-weight: 600;
            color: #4E5150;

        }
    }

    .main{
        margin-top: -1em;
        .main_container{
            display: flex;
            flex-direction: column;
            align-items: center;
            .right_col{
                background: #F2F2F2;
                margin: .5em .3em 0 .3em;
                padding: 2em 1.5em 1em 1.5em;
                border-radius: 12px;
                width: 290px;

                .item{
                    display: flex;
                    gap: 1em;
                    .item_img{
                        width: 160px;
                        height: 100px;
                        background: url(../checkout-page-master/photo1.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        border-radius: 10px;
                    }
                    .item_details{
                        margin-top: -1.3em;
                        line-height: .5;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .item_name{
                            white-space: nowrap;
                            font-size: 1rem;
                            font-weight: 600;
                            color: #4E5150;
                            line-height: 1;
                        }
                        .item_price{
                            margin-left: .2em;
                            font-size: 1rem;
                            margin-top: -.3em;
                            font-weight: 600;
                            color: rgba(242, 153, 74, 0.8);
                    
                            .old_price{
                                font-size: .88rem;
                                margin-left: .5em;
                                color: #4E5150;
                                font-weight: 600;
                            }
                        }
                        .quantity_box{
                            border: 3px solid rgba(130, 130, 130, 0.5);
                            padding: .6em;
                            width: 8em;
                            height: 2.5em;
                            border-radius: 15px;
                            text-align: center;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-weight: bold;
                            

                            .minus_plus{
                                display: inline-block;
                                background: rgba(130, 130, 130, 0.2);
                                width: 20px;
                                height: 20px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 5px;
                                border: 0;
                                cursor: pointer;

                            }
                           
                        }
                    }
                }

                .item_2{
                   
                   margin-top: 2em;

                    .item_img{
                       
                        background: url(../checkout-page-master/photo2.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        border-radius: 15px;
                    }
                   
                }

                .billing_section{
                    margin-top: 5em;
                    .billing{
                        display: flex;
                        justify-content: space-between;
                        line-height: .1;
                        font-weight: 600;
                    }
                }

            }

            .left_col{
                margin: 0;
                width: 290px;
                .heading{
                    font-size: 1.1rem;
                    margin: 0;
                    color: #333333;
                }
                .input_illustrator{
                    margin: 1em .3em 0.5em .3em;
                    color: #4F4F4F;
                }
                .input_box{
                    border: 3px solid rgba(130, 130, 130, 0.5);
                    max-width: 465px;
                    padding: .35em;
                    border-radius: 13px;
                    display: flex;

                    .mail{
                        display: inline-block;
                        width: 1.3em;
                        margin-left: .5em;

                    }

                    .input{
                        margin-left: 1em;
                        width: 20em;
                        //padding: .3em;
                        font-size: 1em;
                        border: none;
                        outline: none;
                        color: #828282;

                    }

                    .color{
                        color: #333333;
                        font-weight:600;
                    }
                }

                .heading{
                    margin-top: 2em;
                    color: #333333;
                    
                }
                .last_section{
                    display: flex;
                    justify-content: space-between;
                    width: 290px;

                
                    
                    .small_box{
                        width: 140px;
                        .input_mod{
                            width: 4.5em;
                            
                        }
                        .country{
                            width: 1.3em;
                        }
                    }

                }
                .checkbox_section{
                    margin-top: .5em;
                    display: flex;
                    width: 290px;
                    .checkbox{
                        width:1.5em;
                        height: 2.8em;
                    }
                    .save_info{
                        margin-left: .5em;
                        color: #4F4F4F;
                        font-size: .8rem;
                    }

                }
                .continue_button{
                    padding: .9em;
                    width:166px;
                    border-radius: 12px;
                    font-size: 1rem;
                    color:#ffffff;
                    background: #F2994A;
                    border: none;
                    float: right;
                    margin-top: .5em;
                    transition: all 300ms ease-in-out;

                    &:hover{
                        background:grey;
                    }
                }



            }
            
        }
    }

    .footer{
        margin-top: 2em;


        .main_text{
            padding: 0 .5em;
            color: #B9BDCF;
            font-size: .8rem;
            font-weight: 700;
            white-space: nowrap;
            
        }
        .links{
            color: #B9BDCF;
            font-size: .8rem;
            font-weight: 700;

        }
        .link{
            text-decoration: none;
        }
    }
}

@media only screen and (min-width:420px){
    body{
        .header{
            transform: translatex(-80%);
            .header_container{
                font-size: 1.2em;
            }
        }


        .main{
            .main_container{
                .right_col{
                    width:380px;
                    padding: 2em;
                    .item{
                        .item_img{
                            width: 140px;
                            height: 140px;
                        }
                        .item_details{
                            margin-top: -1.3em;
                            line-height: 0;
                            //display: flex;
                            //flex-direction: column;
                            justify-content: none;

                            .item_price{
                                margin-top: -1.5em;

                            }
                            .quantity_box{
                                width: 8.5em;
                                height: 3.5em;
                                padding: .6em;
                            }
                            
                        }
                        
                    }
                    .billing_section{
                        margin-top: 6em;
                        
                    }
                }

                .left_col{
                    width: 400px;
                    .last_section{
                        
                        width: 400px;
    
                        .small_box{
                            width: 190px;
                            .input_mod{
                                width: 8.5em;

                            }
                            
                        }
    
                    }
                }
            }
   
        }

        .footer{
            margin-top: 5em;

        .main_text{
            font-size: 1rem;
        }
        .links{
            font-size: 1rem;
        }

        }
    }
    
}

@media only screen and (min-width:930px) {
    body{

        .header{
            transform: translateX(-208%);
            .header_container{
                font-size: 1.4rem;
            }
            
        }
        

        .main{
            .main_container{
                display: flex;
                flex-direction: row-reverse;
                align-items: none;
                justify-content: space-between;
                gap: 5em;
                margin-top: -1em;
                line-height: 2;

                .right_col{
                    margin-top: -4em;
                }
                
            }
        }

    }
    
    
}


@media only screen and (min-width:1100px) {
    body{

        .header{
            transform: translateX(-238%);
            
        }
        
        

        .main{
            .main_container{
                gap: 8em;
                
                .left_col{
                  
                    width: 465px;
                   
                    
                    .input_box{
                        max-width: 465px;
                        
                        
                    }
                    .last_section{
                        max-width: 465px;
                        gap: 2em;
    
                    
                        
                        .small_box{
                            width: 217px;
                            .input_mod{
                                width: 8.5em;
                                
                            }
                            
                        }
    
                    }  
                    
                    .checkbox_section{
                        .checkbox{
                            height: 4.1em;
                        }
                       
                        .save_info{
                           
                           font-size: .8rem;
                           margin-top: 1.5em;
                        }
    
                    }
                }
    
            }
        }

    }
    
    
}


