@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body .header {
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
}

body .header .header_container {
  padding: .1em .5em;
  font-size: 1rem;
  font-weight: 600;
  color: #4E5150;
}

body .main {
  margin-top: -1em;
}

body .main .main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .main_container .right_col {
  background: #F2F2F2;
  margin: .5em .3em 0 .3em;
  padding: 2em 1.5em 1em 1.5em;
  border-radius: 12px;
  width: 290px;
}

body .main .main_container .right_col .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

body .main .main_container .right_col .item .item_img {
  width: 160px;
  height: 100px;
  background: url(../checkout-page-master/photo1.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
}

body .main .main_container .right_col .item .item_details {
  margin-top: -1.3em;
  line-height: .5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main .main_container .right_col .item .item_details .item_name {
  white-space: nowrap;
  font-size: 1rem;
  font-weight: 600;
  color: #4E5150;
  line-height: 1;
}

body .main .main_container .right_col .item .item_details .item_price {
  margin-left: .2em;
  font-size: 1rem;
  margin-top: -.3em;
  font-weight: 600;
  color: rgba(242, 153, 74, 0.8);
}

body .main .main_container .right_col .item .item_details .item_price .old_price {
  font-size: .88rem;
  margin-left: .5em;
  color: #4E5150;
  font-weight: 600;
}

body .main .main_container .right_col .item .item_details .quantity_box {
  border: 3px solid rgba(130, 130, 130, 0.5);
  padding: .6em;
  width: 8em;
  height: 2.5em;
  border-radius: 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

body .main .main_container .right_col .item .item_details .quantity_box .minus_plus {
  display: inline-block;
  background: rgba(130, 130, 130, 0.2);
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

body .main .main_container .right_col .item_2 {
  margin-top: 2em;
}

body .main .main_container .right_col .item_2 .item_img {
  background: url(../checkout-page-master/photo2.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 15px;
}

body .main .main_container .right_col .billing_section {
  margin-top: 5em;
}

body .main .main_container .right_col .billing_section .billing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: .1;
  font-weight: 600;
}

body .main .main_container .left_col {
  margin: 0;
  width: 290px;
}

body .main .main_container .left_col .heading {
  font-size: 1.1rem;
  margin: 0;
  color: #333333;
}

body .main .main_container .left_col .input_illustrator {
  margin: 1em .3em 0.5em .3em;
  color: #4F4F4F;
}

body .main .main_container .left_col .input_box {
  border: 3px solid rgba(130, 130, 130, 0.5);
  max-width: 465px;
  padding: .35em;
  border-radius: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main .main_container .left_col .input_box .mail {
  display: inline-block;
  width: 1.3em;
  margin-left: .5em;
}

body .main .main_container .left_col .input_box .input {
  margin-left: 1em;
  width: 20em;
  font-size: 1em;
  border: none;
  outline: none;
  color: #828282;
}

body .main .main_container .left_col .input_box .color {
  color: #333333;
  font-weight: 600;
}

body .main .main_container .left_col .heading {
  margin-top: 2em;
  color: #333333;
}

body .main .main_container .left_col .last_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 290px;
}

body .main .main_container .left_col .last_section .small_box {
  width: 140px;
}

body .main .main_container .left_col .last_section .small_box .input_mod {
  width: 4.5em;
}

body .main .main_container .left_col .last_section .small_box .country {
  width: 1.3em;
}

body .main .main_container .left_col .checkbox_section {
  margin-top: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 290px;
}

body .main .main_container .left_col .checkbox_section .checkbox {
  width: 1.5em;
  height: 2.8em;
}

body .main .main_container .left_col .checkbox_section .save_info {
  margin-left: .5em;
  color: #4F4F4F;
  font-size: .8rem;
}

body .main .main_container .left_col .continue_button {
  padding: .9em;
  width: 166px;
  border-radius: 12px;
  font-size: 1rem;
  color: #ffffff;
  background: #F2994A;
  border: none;
  float: right;
  margin-top: .5em;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

body .main .main_container .left_col .continue_button:hover {
  background: grey;
}

body .footer {
  margin-top: 2em;
}

body .footer .main_text {
  padding: 0 .5em;
  color: #B9BDCF;
  font-size: .8rem;
  font-weight: 700;
  white-space: nowrap;
}

body .footer .links {
  color: #B9BDCF;
  font-size: .8rem;
  font-weight: 700;
}

body .footer .link {
  text-decoration: none;
}

@media only screen and (min-width: 420px) {
  body .header {
    -webkit-transform: translatex(-68%);
            transform: translatex(-68%);
  }
  body .header .header_container {
    font-size: 1.2em;
  }
  body .main .main_container .right_col {
    width: 380px;
    padding: 2em;
  }
  body .main .main_container .right_col .item .item_img {
    width: 140px;
    height: 140px;
  }
  body .main .main_container .right_col .item .item_details {
    margin-top: -1.3em;
    line-height: 0;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
  }
  body .main .main_container .right_col .item .item_details .item_price {
    margin-top: -1.5em;
  }
  body .main .main_container .right_col .item .item_details .quantity_box {
    width: 8.5em;
    height: 3.5em;
    padding: .6em;
  }
  body .main .main_container .right_col .billing_section {
    margin-top: 6em;
  }
  body .main .main_container .left_col {
    width: 400px;
  }
  body .main .main_container .left_col .last_section {
    width: 400px;
  }
  body .main .main_container .left_col .last_section .small_box {
    width: 190px;
  }
  body .main .main_container .left_col .last_section .small_box .input_mod {
    width: 8.5em;
  }
  body .footer {
    margin-top: 5em;
  }
  body .footer .main_text {
    font-size: 1rem;
  }
  body .footer .links {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 930px) {
  body .header {
    -webkit-transform: translateX(-180%);
            transform: translateX(-180%);
  }
  body .header .header_container {
    font-size: 1.4rem;
  }
  body .main .main_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 5em;
    margin-top: -1em;
    line-height: 2;
  }
  body .main .main_container .right_col {
    margin-top: -4em;
  }
}

@media only screen and (min-width: 1100px) {
  body .header {
    -webkit-transform: translateX(-216%);
            transform: translateX(-216%);
  }
  body .main .main_container {
    gap: 8em;
  }
  body .main .main_container .left_col {
    width: 465px;
  }
  body .main .main_container .left_col .input_box {
    max-width: 465px;
  }
  body .main .main_container .left_col .last_section {
    max-width: 465px;
    gap: 2em;
  }
  body .main .main_container .left_col .last_section .small_box {
    width: 217px;
  }
  body .main .main_container .left_col .last_section .small_box .input_mod {
    width: 8.5em;
  }
  body .main .main_container .left_col .checkbox_section .checkbox {
    height: 4.1em;
  }
  body .main .main_container .left_col .checkbox_section .save_info {
    font-size: .8rem;
    margin-top: 1.5em;
  }
}
/*# sourceMappingURL=main.css.map */